span {
    color: #950015;
}

/* Encabezado */
.header-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.header-image-container {
  margin-right: 10px;
}

.header-image {
  width: 60px;
  height: auto;
}

.header-content {
  display: flex;
  flex-direction: column;
}

.main-title {
  font-size: 24px;
  color: #990000;
  font-weight: bold;
  margin: 0;
}

/* Paso y etiquetas */
.steps-container h2 {
  font-size: 16px;
  color: #f58220;
  font-weight: bold;
  margin: 20px 0 10px;
}

.input-label {
  font-weight: bold;
  color: #990000;
}

.inputs-container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}

.input-box {
  border: 1px solid #f58220;
  border-radius: 5px;
  padding: 4px 8px;
}

/* Paso 3: checkboxes */
.input-box-container {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row-reverse;
  margin-bottom: 5px;
  gap: 10px;
}

.input-box-container label {
  display: flex;
  color: #950015;
  font-weight: 500;
}

.input-box[type="checkbox"] {
  width: 16px;
  height: 16px;
}

/* Tabla */
h1 {
  font-size: 18px;
  color: #990000;
  margin-top: 30px;
}

.table-container {
  margin-top: 10px;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #f58220;
  border-radius: 12px;
  overflow: hidden;
}

.product-table th,
.product-table td {
  border-right: 2px solid #f58220;
  padding: 10px;
  text-align: left;
}

.product-table th:last-child,
.product-table td:last-child {
  border-right: none;
}

.product-table thead {
  background-color: white;
  font-weight: bold;
}

.product-table tbody tr {
  border-top: 1px solid #f58220;
}

/* Botón Volver */
.back-button {
  margin-top: 20px;
  padding: 6px 20px;
  border: 2px solid #990000;
  background-color: transparent;
  color: #990000;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.back-button:hover {
  background-color: #fef1f1;
}
